services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: user-service-app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
      - ./docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - user-service-network
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: user-service-nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - user-service-network
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: user-service-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: user_service
      MYSQL_ROOT_PASSWORD: root
      MYSQL_PASSWORD: password
      MYSQL_USER: user_service
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - user-service-network

networks:
  user-service-network:
    driver: bridge

volumes:
  dbdata:
    driver: local

